@import "~antd/dist/antd.min.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: #55555e;
}

.mountChange-enter {
  opacity: 0.01;
}

.mountChange-enter.mountChange-enter-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.mountChange-appear {
  opacity: 0.01;
  padding-top: 100vh;
}

.mountChange-appear.mountChange-appear-active {
  opacity: 1;
  padding-top: 0px;
  transition: padding-top .5s ease-in, opacity .5s ease-in;
}